@use "common" as * ;
@use "mixin" as * ;
@use "sass:color";


main.site-main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section.l-container{
    text-align: center;
    padding: 3rem 1rem;

    h3{
      font-weight: bolder;
      color: #333;
      text-align: center;
    }

    div.output{
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 2rem;
      min-height: 5rem;
      white-space: pre-wrap;
      color: #333;
      text-align: center;
    }

    div#message{
      font-family: $font-jp;
      margin-top: 2rem;
      font-size: 1.6rem;
      font-weight:bolder;
      color: #1212dc;
      text-align: center;
    }
  }
}

